// Override default variables before the import
// Define the variables for BOOTSTRAP 4

// Import Bootstrap and its default variables

@import "~bootstrap/scss/bootstrap.scss";
@import "assets/scss/about";
@import "assets/scss/navigation";

a {
  color: #212529;
}
.profile-wrapper {
  a {
    transition: 0.3s ease all;
    &:hover {
      text-decoration: none;
    }
  }
}
.profilePic {
  text-align: center;
  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
}

.titleFadeOut {
  opacity: 0;
  animation: fadeOut 2s ease;
}

.titleFadeIn {
  opacity: 1;
  animation: fadeIn 2s ease;
}

@keyframes fadeOut {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.imageIconList {
  padding-left: 0;
  margin-bottom: 0;
  .imageIconListItems {
    list-style: none;
    margin-right: 15px;
    &:last-child {
      margin-right: 0;
    }
    .icon {
      width: 60px;
      height: 60px;
      float: left;
      background-size: cover;
      background-position: center center;
    }
  }
}

.fade-appear {
  opacity: 0;
  z-index: 1;
}
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 1s linear;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 1s linear;
}
