// Override default variables before the import
// Define the variables for BOOTSTRAP 4

// Import Bootstrap and its default variables
.trackText {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  background-color: rgba(black, 0.8);
  color: white;
  padding: 10px;
  margin-bottom: 0;
}
.trackIcon {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  height: 73px;
  font-size: 50px;
  line-height: normal;
  color: white;
}
